In [1]:
import pandas as pd

In [26]:
port_df = pd.read_csv("./Port_Data.csv", index_col="Index")

# port_df.head()
port_df.sort_values(by=["Expected Arrivals"], ascending=False, ignore_index=True, inplace= True)

# port_df["Country"].str.upper().value_counts()
port_df["Country"].unique()[0]

'Singapore'

In [ ]:
# print out the top 5 countries with the highest gap between the departures and arrivals

In [41]:
for country , c_df in port_df.groupby("Country"):
    total_arrivals = sum(c_df["Expected Arrivals"])
    
    print(f"{country} : {total_arrivals}")
    

c_df

Angola : 36
Argentina : 57
Australia : 316
Bahrain : 7
Bangladesh : 105
Belgium : 278
Brazil : 227
Bulgaria : 15
Canada : 148
Chile : 15
China : 7534
Colombia : 33
Denmark : 86
Ecuador : 13
Egypt : 409
Finland : 15
France : 132
Germany : 253
Gibraltar : 100
Greece : 75
Guernsey : 1
Guinea : 2
Hong Kong : 205
Hungary : 38
India : 196
Indonesia : 268
Iran : 1
Israel : 20
Italy : 144
Ivory Coast : 27
Japan : 614
Jersey : 7
Korea : 1090
Latvia : 23
Lithuania : 25
Macao : 5
Malaysia : 159
Malta : 30
Mauritius : 32
Mexico : 33
Monaco : 9
Netherlands : 749
New Caledonia : 14
New Zealand : 26
Nigeria : 42
Norway : 64
Panama : 77
Peru : 48
Philippines : 11
Poland : 90
Portugal : 55
Puerto Rico : 22
Qatar : 40
Romania : 78
Russia : 444
Saudi Arabia : 139
Senegal : 39
Singapore : 1276
South Africa : 111
Spain : 442
Sri Lanka : 60
Sweden : 31
Taiwan : 209
Thailand : 94
Togo : 0
Turkey : 199
USA : 989
Ukraine : 33
United Arab Emirates : 360
United Kingdom : 78
Uruguay : 22
Vietnam : 207

,Country,Port Name,UN Code,Vessels in Port,Departures(Last 24 Hours),Arrivals(Last 24 Hours),Expected Arrivals,Type,Area Local,Area Global,Also known as
75,Vietnam,HAI PHONG,VNHPH,215,78,103,70,Port,South-East Asia,South-East Asia,['HAIPHONG']
82,Vietnam,VUNG TAU,VNVUT,109,98,125,63,Port,South-East Asia,South-East Asia,['VUNGTAU']
89,Vietnam,HO CHI MINH,VNSGN,163,42,63,60,Port,South-East Asia,South-East Asia,"['SAIGON', ' CAT LAI', ' HIEP PHUOC']"
279,Vietnam,NGHI SON,VNNGH,66,17,20,11,Port,South-East Asia,South-East Asia,"['THANH HOA', ' VN THO', ' THANH HAO']"
362,Vietnam,HON GAI ANCH,-,58,22,20,3,Anchorage,South-East Asia,South-East Asia,['-']